<h4>Formularios template</h4>
<hr>
<form autocomplete="off" (ngSubmit)="saveData(f)" #f="ngForm" >
    <div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <!-- Where #userName is a reference to this field -->
                <input 
                    type="text"
                    required
                    minlength="6"
                    name="nombre"
                    [class.is-invalid]="userName.invalid && userName.touched"
                    [ngModel]="User.name"
                    placeholder="Nombre"
                    class="form-control"
                    #userName="ngModel" 
                >

                <small 
            
                    class="form-text text-danger"
                    *ngIf="userName.invalid && userName.touched"
                >
                    Type almost six letters
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input 
                    type="text"
                    required
                    minlength="4"
                    [ngModel]="User.lastName"
                    name="lastName"
                    placeholder="Last name"
                    [class.is-invalid]="refLastName.invalid && refLastName.touched"
                    class="form-control"
                    #refLastName="ngModel"
                > 
                <small 
            
                    class="form-text text-danger"
                    *ngIf="refLastName.invalid && refLastName.touched"
                >
                    Type almost four letters
                </small>  
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Correo</label>
            <div class="col-8">
                <input 
                    type="email"
                    required
                    placeholder="Email"
                    name="email"
                    [ngModel]="User.email"
                    [class.is-invalid]="refCorreo.invalid && refCorreo.touched"
                    class="form-control"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    #refCorreo="ngModel"
                >
                <small 
            
                    *ngIf="refCorreo.invalid && refCorreo.touched"
                    class="form-text text-danger"
                >
                    Email is invalid
                </small>  
            </div>
        </div>
        
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Country</label>
            <div class="col-8">
                <select 
                    name="countries" 
                    id="" 
                    class="form-control"
                    [disabled]="countries.length === 0"
                    [ngModel]="User.country"
                    required
                    [class.is-invalid]="refselectCountry.invalid && refselectCountry.touched"
                    #refselectCountry="ngModel"
                >
                    <option [value]="co.code" *ngFor="let co of countries">{{co.country}}</option>
                </select> 
                <small 
            
                    *ngIf="refselectCountry.invalid && refselectCountry.touched"
                    class="form-text text-danger"
                >
                    You must choose a contry
                </small>                          
            </div>
        </div>

        <!-- RADIO BUTTONS -->
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Gender</label>
            <div class="col-8">
                <div class="form-check form-check-inline">
                    <label for="" class="mr-2">Male</label>
                    <input 
                        type="radio" 
                        name="gender"
                        [ngModel]="User.gender" 
                        value="M"
                        id="" 
                        required
                        class="form-check-input"
                        #refGender="ngModel"
                        [class.is-invalid]="refGender.invalid && refGender.touched"


                    >
                </div>
                <div class="form-check form-check-inline">                    
                    <label for="" class="mr-2">Famle</label>
                    <input 
                        type="radio" 
                        name="gender"
                        [ngModel]="User.gender"
                        id=""
                        value="F" 
                        required
                        class="form-check-input"
                        #refGender="ngModel"
                        [class.is-invalid]="refGender.invalid && refGender.touched"

                    >
                </div>
                <small 
        
                    *ngIf="refGender.invalid && refGender.touched"
                    class="form-text text-danger"
                >
                    You must choose a gender
                </small>                          
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>                            
            </div>
        </div>
        
    </div>
</form>