<h4>Formularios template</h4>
<hr>
<form action="" autocomplete="off" [formGroup]="form" (ngSubmit)="saveData()">
    <div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Nombre</label>
            <div class="col">
                <input 
                    type="text"
                    placeholder="Nombre"
                    class="form-control"
                    formControlName="name"
                    [class.is-invalid]="isValidName"
                >
                <small 
            
                    class="form-text text-danger"
                    *ngIf="isValidName"
                >
                    Type almost six letters
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Apellido</label>
            <div class="col">
                <input 
                    type="text"
                    placeholder="Apellido"
                    class="form-control"
                    formControlName="lastname"
                    [class.is-invalid]="isValidLastName"

                >
                <small 
            
                    class="form-text text-danger"
                    *ngIf="isValidLastName"
                >
                    Type almost six letters
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Correo</label>
            <div class="col">
                <input 
                    type="email"
                    placeholder="Correo"
                    class="form-control"
                    formControlName="mail"
                    [class.is-invalid]="isValidEmail"
                >
                <small 
            
                    class="form-text text-danger"
                    *ngIf="isValidEmail"
                >
                    Type a valid email
                </small>
            </div>
        </div>
        <!-- ADDRES FIELD -->

        <div class="form-group row" formGroupName="address">
            <label for="" class="col-2 col-form-label">Address</label>
            <div class="form-row col">
                <div class="col">
                    <input 
                    type="text"
                    placeholder="district"
                    class="form-control" 
                    [class.is-invalid]="isValidDistrict"
                    formControlName="district"                  
                    >                   
                </div>
                <div class="col">
                    <input 
                    type="text"
                    placeholder="City"
                    class="form-control"
                    [class.is-invalid]="isValidCity"
                    formControlName="city"                   
                    >                   
                </div>
            </div>
        </div>

        <!-- Hobbies list -->

        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Hobbie</label>
            <div class="col">
                <input 
                    name="hobbie"
                    type="text"
                    placeholder="type yor hobbie.."
                    class="form-control"  
                    formControlName="hobbie"
                    [class.is-invalid]="isValidHobbie"                  
                >
                <small 
            
                    class="form-text text-danger"
                    *ngIf="isValidHobbie"
                >
                    Type any hobbie
                </small>
                <button                     
                    type="button" 
                    class="mt-2 btn btn-outline-success btn-lg btn-block"
                    (click)="addHobbie()"
                    [disabled]="disabledButtonAdd"
                    >Add
                </button>                                            
            </div>
        </div>
        <div class="form-group row" id="hobbiesList">            
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Hobbie</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="hobbies">
                        <tr *ngFor="let ctr of getHobbies.controls; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>
                                <!-- Like vue :directive for variables on angular [] -->
                                <!-- 
                                    for printing just the value
                                 -->
                                <!-- <p>{{ctr.value}}</p> -->
                                <input type="text" [formControlName]="i">
                            </td>
                            <td>
                                <button 
                                type="button" 
                                class="btn btn-danger"
                                (click)="deleteHobbie(i)"
                            >Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group row">
                    
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <button type="submit" class="out btn btn-primary btn-lg btn-block">Guardar</button>                            
            </div>
        </div>
        
    </div>
</form>