<h4>Formularios template</h4>
<hr>
<form action="" autocomplete="off" [formGroup]="form" (ngSubmit)="saveData()">
    <div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input 
                    type="text"
                    placeholder="Nombre"
                    class="form-control"
                    formControlName="name"
                >
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input 
                    type="text"
                    placeholder="Apellido"
                    class="form-control"
                    formControlName="lastname"

                >
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-2 col-form-label">Correo</label>
            <div class="col-8">
                <input 
                    type="email"
                    placeholder="Correo"
                    class="form-control"
                    formControlName="mail"
                >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>                            
            </div>
        </div>
        
    </div>
</form>